/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* common styles or utilities */
  .container{
    width: 100%;
    padding: 0 10px;
    border-radius: 0;
  }
  .top-players,.top-blogs{
    padding-left: 10px;
  }
  .players, .blogs{
    grid-template-columns: repeat(1, 1fr);
  }
  .player,.blog{
    flex-direction: column;
  }
  /* top players styles */
  .players{
    grid-row-gap: 0;
  }
  .player{
    flex-direction: column;
    justify-content: center;
  }
  .player img{
    width: 65px;
    height: 65px;
  }
  .player-name {
    margin-left: 0;
    font-size: 16px;
}
/* top blogs styles */
.blog-info {
  margin-left: 0;
}
/* courses styles */
.courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 278px;
}















}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}