/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* common styles or utilities */
  .container{
    width: 100%;
    padding: 0;
    border-radius: 0;
  }
  .players, .blogs{
    grid-template-columns: repeat(1, 1fr);
  }
  /* top players styles */
  .players{
    grid-row-gap: 0;
  }
  .player{
    flex-direction: column;
    justify-content: center;
  }
  .player img{
    width: 65px;
    height: 65px;
  }
  .player-name {
    margin-left: 0;
    font-size: 16px;
}











.lates-courses{
  display: none;
}







}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}